body {
  font-family: 'Open Sans';
  font-weight: 300;
}

.title {
  color: #db5b33;
  font-weight: 300;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin: 20px auto;
  font-size: 24px;
}

.increase,
.decrease {
  width: 80px;
  height: 40px;
  font-size: 20px;
  background-color: #efd81d;
  border-color: #efd81d;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

.counter {
  width: 50px;
  text-align: center;
}
