html,
body {
  font-family: 'Open Sans';
  font-weight: 300;
  height: 100%;
  margin: 0;
}

.container {
  position: relative;
  overflow-x: hidden;
  /* 가로 scroll bar 방지 */
  width: 100%;
  height: 100%;
}

nav,
main {
  position: absolute;
  height: 100%;
  transition: transform 0.5s;
}

nav {
  left: -300px;
  width: 300px;
  background: #20232a;
}

main {
  height: 100%;
  padding: 20px;
}

.toggle {
  font-size: 2em;
  color: maroon;
  cursor: pointer;
  transition: transform 0.5s;
}

/* nav 요소 활성화 */
nav.active,
nav.active ~ main {
  transform: translate3d(300px, 0, 0);
}

nav.active ~ main > .toggle {
  transform: rotate(180deg);
}

/* 트랜지션 취소 */
.notransition {
  transition: none !important;
}
